---
import type { NavbarOption } from '../../types/navbar'
interface Props{
    item: NavbarOption
    isActive: boolean
}

const { item, isActive } = Astro.props
---


<li class=" flex items-center content-center">
    <a href={item.url} 
    class={isActive ? 
    "block py-2 px-3 text-white bg-[#FFA500] rounded md:bg-transparent md:text-[#FFA500] md:p-0 dark:text-white md:dark:text-[#FFA500]" 
    : 
    "block py-2 px-3 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#FFA500] md:p-0 dark:text-white md:dark:hover:text-[#FFA500] dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
    }>{item.label}</a>
  </li>